{% extends 'web/base-two.html' %}
{% load static %}
{% block content %}

<main>
    <section class="pb-5 py-5" style="margin-top: 6rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 pb-4">
                    <form class="pswd-rst-form" id="emailCheckForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="email" value="{{email}}" hidden>
                            <label for="exampleInputEmail1">Password</label>
                            <input type="text" id="currentPassword" name="currentPassword" class="form-control" aria-describedby="emailHelp" placeholder="Enter new password">
                            <small id="emailHelp" class="form-text text-muted">
                               </small>
                        </div>
                        <p id="msgPtag" style="color: red;"></p>
                        <div id="alertBoxdiv" class="alert alert-danger" role="alert" style="width: 300px;">
                            
                          </div>
                        <button type="button" id="btnChangePassword" class="btn btn-success pswd-rst-form-btn">Create Password</button>
                        <button type="button" id="btnVerify" class="btn btn-success pswd-rst-form-btn">Verify</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="area-seven position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="download-logo-second card pb-4">
                       <a href=""> <img src="{% static 'web/images/icons/playstore-logo.png' %}" alt=""
                            class="apple-android mx-auto d-block"></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="download-logo-second card pb-4">
                     <a href="">   <img src="{% static 'web/images/icons/apple store.png' %}" alt=""
                            class="apple-android mx-auto d-block"> </a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-4 col-sm-4 d-md-none d-sm-none d-lg-block d-none col-4">
                    <div class="download-content">
                        <p class="dan">Download the app now!</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <div class="">
                        <img src="{% static 'web/images/icons/phone-logo.png' %}" alt=""
                            class="mobile-logo position-absolute" style="bottom: 0;">
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
{% include 'web/partials/footer.html' %}
{% endblock %}
{% block javascript %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="{% static 'web/js/change_password.js' %}"></script>
{% endblock %}