{% extends 'adminpage/base.html' %} {% load static %} {% block content %}

<div class="container-scroller">
	<!-- partial:../../partials/_navbar.html -->

	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<!-- partial:../../partials/_settings-panel.html -->

		<!-- partial -->

		<!-- partial:../../partials/_sidebar.html -->
		{% include 'adminpage/partials/sidebar.html' %}
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="input-group">
						<div class="form-outline">
						  <input type="search" id="filterUser" class="form-control" placeholder="Search"/>
						  <label class="form-label" for="form1"></label>
						</div>
						<div class="form-outline">
							<select type="search" id="filterUserMartialStatus" class="form-control">
								<option value="0">All</option>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Divorced">Divorced</option>
								<option value="Widow">Widow</option>

							</select>
							<label class="form-label" for="form1"></label>
						  </div>
					  </div>
				</div>
				<div class="row" id="UserDetailsDiv">
					
                
				</div>
					
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:../../partials/_footer.html -->
			{% include 'adminpage/partials/footer.html' %}
			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>

{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function(){
		genderbasedprofile('Male')
	});
</script>
<script src="{% static 'adminpage/js/bismillah/collect-profile-to-admin.js' %}"></script>
{% endblock %}
