<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>KeralaZawaj</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'chatbox/img/favicon/favicon.ico" type="image/x-icon">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'chatbox/css/template.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'chatbox/css/template.dark.bundle.css' %}"
        media="(prefers-color-scheme: dark)">
</head>

<body>
    
    {% block content %}


    {% endblock %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'chatbox/js/vendor.js' %}"></script>
    <script src="{% static 'chatbox/js/template.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>